<!-- <h1>About Page</h1> -->
<!-- Description of the project  -->
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
</p>
<!-- <div id="logo">
  <img class="center-block" src="/images/logo-new.png"> -->

  <p id="homeText"> <span class="displayMap"> Here</span> is where they come from, discover their stories and become a part of it.<p>
<!--     <div class="content" style="display: none ;"> -->
  <div id="refugee-map"></div>
<!--     </div> -->
<!-- </div> -->