<div class="headers-all">
<h1 class="banner-heading centered">Charity home page that only charity can see</h1>
</div>

  <!-- tiles of the refugies profile split in 2 different sections connected or not, plus button for add a ref(also in navbar), your statistics  -->
  <img id="addRefugeeButton" name="addRefugee" src="/images/greyAddButton.png">
  <ul id="showRefugees"></ul>


