<h1>Charity home page that only charity can see</h1>
  <!-- tiles of the refugies profile split in 2 different sections connected or not, plus button for add a ref(also in navbar), your statistics  -->