<div>
<img class="center-block" src="/images/logo-large.png">
</div>
<div class="col-md-4" id="news-scroller"><ul class="guardian-news"></ul></div>
<!-- div with googlemap and our data -->
<div class="col-md-8" id="refugee-map"></div>
<button id="guardian-button">Load More</button>

  <!-- div with the content provided by the news API -->

  <!-- connection -->
  <!-- picture refugee and host, amount £ donated (progressbar,...),   -->


 <div class="col-md-12"> <ul id="show"></ul></div>  