  <div class="homepage-banner">
    <div class="centered">
      <img class="center-block" src="/images/logo-new.png">
      <p>Here is where they come from, discover their stories and become a part of it.</p>
    </div>
  </div>
  <div class="col-md-4" id="news-scroller">
    <ul class="guardian-news"></ul>
  </div>
  <div class="col-md-12"> <ul id="show"></ul></div>  



    <!--     <div id="logo">
          <img class="center-block" src="/images/logo-new.png">
          <p id="homeText"> <span class="displayMap"> HERE </span> is where they come from, discover their stories and become a part of it.<p>
        </div> -->



    <!-- div with the content provided by the news API -->

    <!-- connection -->
    <!-- picture refugee and host, amount £ donated (progressbar,...),   -->


   <!-- <div class="col-md-12"> <ul id="show"></ul></div>   -->

   <!--   <div class="content" style="display: none ;">
       <div id="refugee-map"></div>
     </div> -->
   <!--   <button id="guardian-button">Load More</button> -->
   <!--   <div class="col-md-4" id="news-scroller">
       <ul class="guardian-news"></ul>
     </div> -->