  <div class="homepage-banner">
    <div class="centered">
      <img class="center-block mobile" src="/images/logocloser.png">
      
    </div>
  </div>
  <div class="col-md-4" id="news-scroller">
    <ul class="guardian-news"></ul>
  </div>
  <div class="col-md-12"> <ul id="show"></ul></div>  



