<div>
<img class="center-block" src="/images/logo-large.png">
</div>
<!-- div with googlemap and our data -->
<div class="col-md-6" id="refugee-map"></div>
<div class="col-md-6"> <ul class="guardian-news"></ul></div>
  <!-- div with the content provided by the news API -->

  <!-- connection -->
  <!-- picture refugee and host, amount £ donated (progressbar,...),   -->


 <div class="col-md-12"> <ul id="show"></ul></div>