<div>
<img class="center-block" src="/images/logo-new.png">
</div>
<div class="col-md-4"> <ul class="guardian-news"></ul></div>
<!-- div with googlemap and our data -->
<div class="col-md-8" id="refugee-map"></div>



  <!-- div with the content provided by the news API -->

  <!-- connection -->
  <!-- picture refugee and host, amount £ donated (progressbar,...),   -->


 <div class="col-md-12"> <ul id="show"></ul></div>