<h1>Crossroads Home</h1>

<ul class="guardian-news"></ul>
  <!-- div with the content provided by the news API -->
  <!-- div with googlemap and our data -->
  <h4>Map</h4>
  <div id="refugee-map"></div>
  <!-- connection -->
  <!-- picture refugee and host, amount £ donated (progressbar,...),   -->
  <ul id="show"></ul>