
   
   

<div class="container">
  <div class="container refugee-show">
    <div class="row">
      <div class="avatar col-md-6">
        
      </div> 
      <div class="donate col-md-6">
        <div class="loginNow log">
        <form class="donation-form" action="/charge" method="POST" id="payment-form">
        <div class="panel panel-info shadow">
            <div class="panel-heading">
              <h3 class="panel-title">donate</h3>
            </div>
          <span class="payment-errors"></span>
          <div class="form-row app">
            <label>
              <input id="refugeeId" type="hidden" size="20"  name="refugee"/>
            </label>
          </div>
          <div class="form-row app">
            <label>
              <span>Amount</span><br>
              <input type="text" size="20" name="amount"/>
            </label>
          </div>
          <div class="form-row app">
            <label>
              <span>Card Number</span><br>
              <input type="text" size="20" data-stripe="number"/>
            </label>
          </div>

          <div class="form-row app">
            <label>
              <span>CVC</span><br>
              <input type="text" size="4" data-stripe="cvc"/>
            </label>
          </div>
          <br>
          <div class="form-row app">
            <label>
              <span>Expiration (MM/YYYY)</span>
              <input type="text" size="2" data-stripe="exp-month"/>
            </label>
            <span> / </span>
            <input type="text" size="4" data-stripe="exp-year"/>
          </div>

          <button class="btn btn-block change btn-default" type="submit">donate</button>
        </form>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="info col-md-12">
        <div class="refugeeInfo"></div>
        </div> 
      </div>
    </div>
  </div>

 


  

