<div class="loginNow log">
  <form id="registerCharityForm" class="register" method="post" action="/api/register">
  <div class="panel panel-info shadow">
  <div class="panel-heading">
      <h3 class="panel-title">register your charity</h3>
    </div>
    <div class="form-group app">
      <input type="text" name="username" id="register-username" class="form-control" placeholder="username">
    </div>
    <div class="form-group">
      <label for="avatar">Avatar</label>
      <input type="file" name="avatar">
    </div>
    <div class="form-group app">
      <input type="email" name="email" id="register-email" class="form-control" placeholder="email">
    </div>
    <div class="form-group app">
      <input type="password" name="password" id="register-password" class="form-control" placeholder="password">
    </div>
    <div class="form-group app">
      <input type="password" name="passwordConfirmation" id="register-password" class="form-control" placeholder="password confirmation">
    </div>
    <div class="form-group app">
      <input type="hidden" name="role" id="register-role" class="form-control" value="charity">
    </div>
    <!-- add bank account informations -->
    <button type="submit" class="btn btn-block change btn-default">submit</button>
  </form>
  </div>
</div>