<h2>Register Host</h2>
<form  id="registerHostForm" class="register" method="post" action="/api/register">
<div class="form-group app">
  <input type="text" name="username" id="register-username" class="form-control" placeholder="username">
</div>
  <div class="form-group">
    <label for="register-email">Email address</label>
    <input type="email" name="email" id="register-emailHost" class="form-control" placeholder="Email">
  </div>
  <div class="form-group">
    <label for="avatar">Avatar</label>
    <input type="file" name="avatar">
  </div>
  <div class="form-group">
    <label for="register-password">Password</label>
    <input type="password" name="password" id="register-passwordHost" class="form-control" placeholder="Password">
  </div>
  <div class="form-group">
    <label for="register-password">Password Confirmation</label>
    <input type="password" name="passwordConfirmation" id="register-passwordHost" class="form-control" placeholder="Password">
  </div>
  <div class="form-group app">
        <input type="hidden" name="role" id="register-role" class="form-control" value="host">
      </div>
  <!-- add bank account informations -->
  <button type="submit" class="btn btn-default">Submit</button>
</form>