<h2>Register Charity</h2>
<form id="register" class="register" method="post" action="/api/register">
  <div class="form-group">
    <label for="register-username">username</label>
    <input type="text" name="username" id="register-username" class="form-control" placeholder="username">
  </div>
  <div class="form-group">
    <label for="register-email">Email address</label>
    <input type="email" name="email" id="register-email" class="form-control" placeholder="Email">
  </div>
  <div class="form-group">
    <label for="register-password">Password</label>
    <input type="password" name="password" id="register-password" class="form-control" placeholder="Password">
  </div>
  <div class="form-group">
    <label for="register-passwordconfirmation">PasswordConfirm</label>
    <input type="password" name="passwordConfirmation" id="register-password" class="form-control" placeholder="Password">
  </div>
  <!-- add bank account informations -->
  <button type="submit" class="btn btn-default">Submit</button>
</form>