//GOOGLE MAP
#refugee-map {
  height: 500px;
  width:100%;
  margin: 20px 0;
  border:2px solid white;
  box-shadow: 4px 4px 2px rgba(165, 165, 165, 1);
}

#homeText{
  text-align: center;
  text-align: center;
  font-size: 20px;
  margin-top: 85px;
  color: #5E0B0E;
  font-style: italic;
}

#infoWindowImage{
  height: 57px;
  width: 50px;
}