//HERE is where they come from
#homeText{
  margin: 0 0 10px;
  text-align: center;
  font-size: 23px;
  margin-top: 26px;
  color: #5D0B0E;
  margin-bottom:20px;
}

//GUARDIAN NEWS SCROLLER 
#news-scroller {
  width: 250px;
  height: 600px;
  overflow: scroll;
}
#newsImage{
  width: 100%;

}

.guardian-news{
  border:1px solid #878289;
  padding-left: 0px;
  li{
    border:1px solid #878289;
    font-size: 10px;
    padding: 10px;
    a{ color: #5D0B0E;
    }
  }
}

#logo{
  padding-top:0px;
  padding-bottom: 150px;
  border:1px solid white;
  background: white;

}
#stories{
  color: #5D0B0E;
  font-size: 30px;
  margin-bottom: 20px;
  text-align: center;
}
