.homepage-banner {
  // display: none;
  text-align: center;
  color: #fff;
  width: 100%;
  height: 500px;
  // background-color: #ccc;
  background-image: url('/images/back.jpg');
  background-repeat: no-repeat;
  background-size: cover; 

  .centered {
    margin-top: -100px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
  }
}

#news-scroller {
  background: white;
  width: 100%;
  height: 200px;
  overflow: scroll;
}

.guardian-news {
  margin: 0;
  padding: 0;
  width: 30000px;
}

.tile {
  display: inline-block;
  margin: 0px 50px;
  height: 200px;
  padding: 5px 10px;
  background: white;
  text-align: center;

  img {
    margin-top: 30px;
  }

    .news-caption {
      font-size: 12px;
      color: #333;
    }
}
