.homepage-banner {
  // display: none;
  text-align: center;
  color: #fff;
  width: 100%;
  height: 500px;
  // background-color: #ccc;
  background-image: url('/images/rothko.png');
  background-repeat: no-repeat;
  background-size: cover; 


  .centered {
    margin-top: -100px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
  }
}

#news-scroller {
  border-top: 10px solid #BBC7C5;
  border-bottom: 20px solid #BBC7C5;
  background: #EBF1F0;
  width: 100%;
  height: 200px;
  overflow: scroll;
  li{
    background: #EBF1F0;
  }
}

.guardian-news {
  margin: 0;
  padding: 0;
  width: 30000px;
}

.tile {
  display: inline-block;
  margin: 0px 50px;
  height: 200px;
  padding: 5px 10px;
  background: white;
  text-align: center;

  img {
    margin-top: 30px;
    border: 3px solid #EBF1F0;



  }
    .news-caption {
      font-size: 12px;
      color: #333;
    }
}

.background {
  
  background-color: white;
  opacity: 0.55;
}



