//HERE is where they come from
#homeText{
  margin: 0 0 10px;
  text-align: center;
  font-size: 23px;
  margin-top: 26px;
  color: #5D0B0E;
}

//GUARDIAN NEWS SCROLLER 
#news-scroller {
  width: 250px;
  height: 600px;
  overflow: scroll;
}
#newsImage{
  width: 50px;

}

.guardian-news{
  border:2px solid white;
  li{
    border:2px solid white;
    font-size: 10px;
    padding: 10px;
    a{ color: white;
    }
  }
}
