.titleOne {
  color: black;
}

li {
  list-style: none;
}

.loginNow {
    width: 300px;
    
height: 100px;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto;
}

.app {
  margin-bottom: -3px;

}
