.thumbnail { 
  position: relative; 
  text-align: center; 
  font-size: 30px;
  margin: 20px;
  width: 330px;
  height: 445px;
  p{
    font-size: 20px;
  }
}

.thumbnail > img {
  height: 200px;
}

#refugee-story-text{
margin-top: 5px;
}

// #refugee-story-text-showpage{
//   margin-top: 5px;
//   font-size: 18px;
//   border: 5px solid black;
//   margin-bottom: 25px;
//   padding: 20px;
// }

.text {
   overflow: hidden;
   font-size: 11px;
   text-overflow: ellipsis;
   display: -webkit-box;
   line-height: 16px;     /* fallback */
   max-height: 32px;      /* fallback */
   -webkit-line-clamp: 2; /* number of lines to show */
   -webkit-box-orient: vertical;
   margin-bottom: 20px;
}

.overlay{
  background-color: rgb(146, 195, 199);
  color: #fafafa;
  margin-top: 0px;
  margin-bottom: 40px;
  width: 100%;
  padding: 0px;
  height: 50px;
}

.thumbnail .caption {
  padding: 0;
  margin-top: -20px;
}

.refugee{
  margin-bottom: 50px;
}
