@import 'refugee-tiles';
@import 'homepage';
@import 'login';



body {
  background-color: #ebf1f0;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 15px;
}

ul {
  list-style-type: none;
}

//GOOGLE MAP
#refugee-map {
  height: 500px;
  margin: 20px 0;
  border:2px solid white;
  box-shadow: 4px 4px 2px rgba(165, 165, 165, 1);
}

//GUARDIAN NEWS SCROLLER 

#news-scroller {
  width: 250px;
  height: 600px;
  overflow: scroll;
}

.center-block{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.navbar {
   -webkit-box-shadow: 0 8px 6px -6px #999;
   -moz-box-shadow: 0 8px 6px -6px #999;
   box-shadow: 0 8px 6px -8px #999;
   padding-right: 7px;
   padding-left: 7px;
   /* the rest of your styling */
}

#logoHead {
  height: 49px;
  width: 50px;

}
