@import 'refugee-tiles';
@import 'homepage';
@import 'login';
@import 'charityShow';
@import 'about';
@import 'hostProfile';
@import 'host';


body {
  background-color: #ebf1f0;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 15px;

}

ul {
  list-style-type: none;
}



//GUARDIAN NEWS SCROLLER 

#logoHead {
  height: 49px;
  width: 50px;
}

.navbar {
  margin-bottom: 0;
  padding: 0px 20px;
}

//headers for pages

.headers-all{
  background: white;
  width: 100%;
  height: 200px;
  overflow: scroll;
  margin-bottom: 50px;
}

.footer-all{
  background: white;
  width: 100%;
  height: 200px;
  overflow: scroll;
  // margin-bottom: 50px;
}

.banner-heading {
  text-align: center;
}

.payment-form {
  display: none;
}

#registerButtons{
  text-align: center;
  margin-top: 165px;
}

#registerAsCharityButton{
  background-color: rgba(3, 152, 244, 0.1);
  color: rgba(0, 0, 0, 0.5);
  border: 4px solid whitesmoke;
  height: 100px;
  width: 400px;
  font-size: 28px;
  font-family: 'Roboto', sans-serif;
  font-weight: 200;
  margin: auto;
}

#registerAsCharityButton:hover {
  background-color: rgba(3, 152, 244, 0.3);
}

#registerAsHostButton{
  background-color: rgba(3, 152, 244, 0.1);
  color: rgba(0, 0, 0, 0.5);
  border: 4px solid whitesmoke;
  height: 100px;
  width: 400px;
  font-size: 28px;
  font-family: 'Roboto', sans-serif;
  font-weight: 200;
  margin: auto;
}

#registerAsHostButton:hover {
  background-color: rgba(3, 152, 244, 0.3);
}


  // Refugee show 

  .refugee-show {
    text-align: center;
    width: 100%;
    height: 95vh;

    .avatar, .actions {
      height: 350px;
    }

    .avatar {

      img {
        margin-top: 35px;
        height: 200px;
        width: 200px;
      }

      h1 {
        margin: 10px;
        padding: 0;
        font-size: 30px;
        color: #333;
      }
    }

    .actions {

      .donation-form {
        border: 1px solid #ccc;
        width: 300px;
        padding-bottom: 20px;
        margin: 0 auto;
      }
    }

    .info {
      height: 350px;
    }

  }


i {
  
  margin-left: 20px;
  margin-top: 30px;
  cursor: pointer;
}

#addRefugeeButton {
  font-size: 60px;
  &:hover {
    font-size: 65px;
  }

}

button {
  border-radius: 0px;
}







































