@import 'refugee-tiles';
@import 'homepage';
@import 'login';
@import 'charityShow';
@import 'about';


body {
  background-color: #ebf1f0;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 15px;
}

ul {
  list-style-type: none;
}



//GUARDIAN NEWS SCROLLER 

#logoHead {
  height: 49px;
  width: 50px;
}

.navbar {
  margin-bottom: 0;
  padding: 0px 20px;
}

//headers for pages

.headers-all{
  background: white;
  width: 100%;
  height: 200px;
  overflow: scroll;
  margin-bottom: 50px;
}

.banner-heading {
  text-align: center;
}

.payment-form {
  display: none;
}

  #registerAsCharityButton{
    background-color: rgba(3, 152, 244, 0.1);
    color: rgba(0, 0, 0, 0.5);
    border: 4px solid whitesmoke;
    height: 100px;
        width: 400px;
  }

  #registerAsCharityButton:hover {
    background-color:#337AB7;
  }
  
  #registerAsHostButton{

  }

