<!DOCTYPE html>
<html>
<head>
  <title>Refugee App</title>
  <!-- map  -->
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBxM36DxD-TmmCuWMML0UXBVSirOUkF42Q" charset="utf-8"></script>
  <!--jquery -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script type="text/javascript" src="/js/lib/simplyscroll.js"></script>

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
  <script type="text/javascript" src="https://js.stripe.com/v2/"></script>

 <!--  for stripe -->

 <script type="text/javascript">
   // This identifies your website in the createToken call below
   Stripe.setPublishableKey('pk_test_1ubFAR0mOyoHOm54SZdCZPEH');
   // ...
 </script>

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>

  <script type="text/javascript" src="/js/edit.js"></script>
  <script type="text/javascript" src="/js/charity.js"></script>
  <script type="text/javascript" src="/js/refugee.js"></script>
  <script type="text/javascript" src="/js/token.js"></script>
  <script type="text/javascript" src="/js/styleJS.js"></script>
  <script type="text/javascript" src="/js/stripe.js"></script>
  <script type="text/javascript" src="/js/guardian.js"></script>
  <script type="text/javascript" src="/js/map.js"></script>
  <script type="text/javascript" src="/js/app.js"></script>
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <link rel="stylesheet" type="text/css" href="/css/simplyscroll.css">
  <link href='https://fonts.googleapis.com/css?family=Roboto:400,100' rel='stylesheet' type='text/css'>

</head>
<body>
  <header>
    <nav class="navbar navbar-default">
      <ul class="nav navbar-nav navbar-right">
        <!-- Logged out -->
        <li><a href="#" name="registerCharity" class="register-link logged-out">register</a></li>
        <li><a href="#" name="login" class="login-link logged-out">login</a></li>
        <!-- Logged in and logged out -->
      
        <li><a href="#" name="about" class="about-link">about</a></li>
<!--         <li><a href="#" name="donationForm" class="donate-link">donate</a></li> -->
        <!-- Both logged in -->
        <li><a href="#" name="" class="logout-link logged-in">logout</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-left">
      <div class="navbar-header">
         <a href="#" name="crossroads" class="home-link"><img id="logoHead" alt="Brand" src="/images/logo-new.png"></a>
      </div>
        <!-- charity -->
        <li><a href="#" name="charityHome" class="homePage-link logged-in charity">home page</a></li>

        <li><a href="#" name="addRefugee" class="addRefugee-link logged-in charity">add a refugee</a></li>
        <li><a href="#" name="charityShow" class="profile-link logged-in charity">profile</a></li> 

        <!-- host -->
        <!-- <li><a href="#" name="" class="profile-link logged-in host">Profile</a></li> 
        <li><a href="#" name="" class="homePage-link logged-in host">Home Page</a></li> 
        <li><a href="#" name="refugeeAll" class="refugee-link logged-in host">Refugees</a></li>  -->
      </ul> 
    </nav>
  </header>

<!--   STRIPE and ADD A REFUGEE -->

  <main class="container">  
    <!-- Register as a charity -->
    <section id="registerCharity">
    <div class="hidden alert alert-danger" role="alert"></div>
      <% include partials/registerCharity %>
    </section>
    
    <!-- Register as a host -->
    <section id="registerHost">
      <% include partials/registerHost %>
    </section>
    
    <!-- Login -->
    <section id="login">
    <div class="hidden alert alert-danger" role="alert"></div>
    <% include partials/login %>
    </section>
    <!-- HOME PAGE -->
      <!-- news -->
    <section id="crossroads">
    <% include partials/crossroadsHome %>
      </section>

  <!-- about -->
  <section id="about">
    <h1>About</h1>
    <% include partials/about %>
    </section>

    <section id="connectionShow">
    <% include partials/connectionShow %>
    </section>
    <!-- donationForm -->
    <section id="donationForm">
      <!-- form, depend on stripes, share on social media button  -->
      <% include partials/stripe %>
    </section>
    <!-- charityHome -->
    <section id="charityHome">
    <% include partials/charityHome %>
    </section>
    <!-- add refugee -->
    <section id="addRefugee">
    <div class="loginNow log">
        
          <!-- profile(names, origin country, languages), story, add button(for charity)  -->
          <form id="refugee" method="post" action="/api/refugees" enctype="multipart/form-data">
            <div class="panel panel-info shadow">
            <div class="panel-heading">
                <h3 class="panel-title">add a refugee</h3>
              </div>
       <div class="form-group">
         <input name="name" type="text" class="form-control" id="name" placeholder="name">
       </div>
       <div class="form-group">
         <label for="avatar">add an image:</label>
         <input class="btn change btn-primary" type="file" name="avatar">
       </div>
       <div class="form-group app">
         <input name="city" type="text" class="form-control" id="city" placeholder="city">
       </div>
<!--        <div class="form-group">
         <label for="postcode">Postcode</label>
         <input name="refugee[postcode]" type="text" class="form-control" id="postcode" placeholder="postcode">
       </div> -->
       <div class="form-group app">
         <input name="lat" type="text" class="hidden" id="lat" placeholder="lat">
       </div>
       <div class="form-group app">
         <input name="lng" type="text" class="hidden" id="lng" placeholder="lng">
       </div>
       <div class="form-group app">
         <textarea name="story" type="text" class="form-control" id="story" placeholder="my story"></textarea>
       </div>
       <button type="submit" class="btn change btn-block btn-primary" role="button">add</button>
       </form>
       </div>
      </div>
    </section>
    <!-- refugeeShow -->
    <section id="refugeeShow">
    <% include partials/refugeeShow %>
    </section>
    <section id="refugeeEdit">
    <% include partials/refugeeEdit %>
    </section>
    <!-- charityShow -->
    <section id="charityShow">
    <% include partials/charityShow %>  
    </section>
    <!-- charityEdit -->
    <section id="charityEdit">
    <% include partials/charityEdit %>
    </section>
    <!-- refugeeAll -->
    <section id="refugeeAll">
    <% include partials/refugeeAll %>
    </section>
    <!-- refugeeShow for the Host -->
    <section id="refugeeShowHost">
    <% include partials/refugeeShowHost %>
    </section>
    <!-- hostShow -->
    <section id="hostShow">
     <% include partials/hostShow %> 
    </section>
    <!-- hostEdit -->
    <section id="hostEdit">
   <% include partials/hostEdit %> 
    </section>
  </main>
</body>
</html>