/*******NAV BAR********************************************
***********************************************************/


/*******HEADER********************************************
***********************************************************/


/*******GUARDIAN NEWS SCROLLER ********************************************
***********************************************************/


#news-scroller {
  width: 250px;
  height: 600px;
  overflow: scroll;
}






/*******GOOGLE MAP********************************************
***********************************************************/
body {
  background-color: #ebf1f0;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 15px;

}
#refugee-map {
  height: 500px;
  margin: 20px 0;
  border:2px solid white;
  box-shadow: 4px 4px 2px rgba(165, 165, 165, 1);
}



/*******REFUGEE TILES ON MAIN PAGE ********************************************
***********************************************************/


.thumbnail { 
  position: relative; 
  padding: 10px; 
  border-radius: 5px 5px 4px 4px; 
  border: 0px solid; 
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.06); 
  background: #fff; 
  height: 310px; 
  margin-top: 70px;
  margin: 8px;
  }


.second-header { background-color: black; font-size: 1.5em; text-align: center; color: #fafafa; height: 300px; margin-top: -100px; }

.tutorial-description { padding: 10px; }

/*******ABOUT PAGE********************************************
***********************************************************/

.center-block{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.navbar {
   -webkit-box-shadow: 0 8px 6px -6px #999;
   -moz-box-shadow: 0 8px 6px -6px #999;
   box-shadow: 0 8px 6px -8px #999;
   padding-right: 7px;
   padding-left: 7px;
   /* the rest of your styling */
}

#logoHead {
  height: 49px;
  width: 50px;

}










